@import url("https://fonts.googleapis.com/css?family=Exo");

body {
	background-color: #002b36;
	font-size: 2em;
	color: #839496;
	font-family: Exo, sans-serif;
}

.wrapper h1 {
  margin-top: -40px;
}

.wrapper {
	margin: 0 auto;
	max-width: 720px;
}

.button {
	background-color: #268bd2;
	border-radius: 5px;
	color: #FFFFFF;
	width: 96px;
	height: 37px;
	padding: 8px 20px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-family: Exo, sans-serif;
	margin: 4px 2px;
	cursor: pointer;
	border: 0px;
}

.screambox {
	float: left;
	width: 350px;
  padding: 5px;
}

.thevoid {
	float: right;
	width: 350px;
  padding: 5px;
  font-size: 16pt;
}

textarea {
	resize: none;
	outline: none;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: auto;
  box-sizing: border-box;
  width: 340px;
}

.footer {
  /*position: absolute;
  bottom: 0;*/
  height: 60px;
  line-height: 60px;
  padding: 8px 8px 8px 32px;
  display: flex;
  align-items: center;
  font-size: 25px;
}

.sidenav {
  background-color: #073642;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #839496;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #586e75;
}

.sidenav .closeNav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #93a1a1;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #268bd2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #268bd2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.aboutModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content 
{
  font-size: 16pt;
  position: relative;
  background-color: #073642;
  margin: auto;
  padding: 0;
  border: 1px solid #839496;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-content a
{
  font-weight: bolder;
  color: #839496;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.closeModal {
  color: #839496;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus 
{
  text-decoration: none;
  cursor: pointer;
}

.modal-header 
{
  padding: 2px 16px;
  background-color: #073642;
  color: #839496;
}

.modal-body {padding: 2px 16px;}