@import url("https://fonts.googleapis.com/css?family=Exo");

body {
	background-color: #002b36;
	font-size: 2em;
	color: #839496;
	font-family: Exo, sans-serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 720px;
	padding: 50px;
}

.button {
	background-color: #268bd2;
	border-radius: 5px;
	color: #FFFFFF;
	width: 96px;
	height: 37px;
	padding: 8px 20px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-family: Exo, sans-serif;
	margin: 4px 2px;
	cursor: pointer;
	border: 0px;
}

.screambox {
	float: left;
	width: 350px;
  padding: 5px;
}

.thevoid {
	float: right;
	width: 350px;
  padding: 5px;
  font-size: 16pt;
}

textarea {
	resize: none;
	outline: none;
	font-family: sans-serif;
	border-radius: 5px;
	overflow: auto;
  box-sizing: border-box;
  width: 340px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #93a1a1;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #268bd2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #268bd2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
